$white: #fff;
$black: #000;
$grey: #616162;
$box: #e2e2e3;
$shadow: #c2c2c3;
$good: #0c0;
$bad: #c00;
$ok: #ffa500;
$button: #01d277;

$tablet-portrait: 48rem;
$tablet-landscape: 64rem;
$laptop: 80rem;
$desktop: 85.375em;