.details-container{
    padding: .625rem;
    width:100%;
    position: relative;

    .score {
        position: absolute;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 1rem;
        right: .625rem;
        border-radius: 50%;
        font-size:.625rem;
        width: 2.68rem;
        height: 2.68rem;

        &.good {
            background-color: $good;
        }

        &.bad {
            background-color: $bad;
        }

        &.ok {
            background-color: $ok; 
        }

        span {
            font-size: 1rem;
        }
    }

    h3 {
        font-size: 1.6rem;
        padding-right: 2.65rem;
    }

    h4 {
        font-size: 1.2rem;
        min-height: 1.2rem;
        margin: .625rem 0;
        padding-right: 2.65rem;
    }

    .poster {
        width: 100%;
        display: flex;
        flex-direction: column;

        .movie-still {
            width: 100%;
        }
    }

    .description {
        line-height: 1.4rem;
        margin: .625rem 0;
    }
}

@media screen and (min-width: $tablet-landscape) {
    
    .details-container{
        
        .poster {
            flex-direction: row;

            .movie-still {
                width: 100%;
                max-width: 31.25rem
            }

            .description {
                margin: 0 0 .625rem .625rem
            }
        }
    }
}