.wrapper {
    padding: 1rem;
    margin-bottom: 2rem;

    .top {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    padding: 1rem 0;
}