* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #FFF;
  font-family: 'open sans'; }

.header {
  background-color: #000;
  padding: .625rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header a {
    border: none; }
    .header a .logo {
      display: block; }
  .header .back {
    color: #fff; }
  .header .search {
    display: flex; }
    .header .search .title {
      -webkit-appearance: none;
      height: 1.68rem;
      border: none;
      width: 12rem;
      border-radius: .1rem;
      font-size: 1.2rem;
      padding-left: .625rem; }
    .header .search .submit {
      -webkit-appearance: none;
      width: 1.68rem;
      height: 1.68rem;
      border-radius: .1rem;
      margin-left: 1rem;
      background-image: url("../images/search.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: #fff; }

@media screen and (min-width: 64rem) {
  .submit {
    cursor: pointer; } }

.movie-box {
  width: 100%;
  padding: 0 0 .625rem 0; }
  .movie-box .box-inner {
    width: 100%;
    background-color: #e2e2e3;
    box-shadow: -0.125rem 0.125rem 0.125rem #c2c2c3; }
    .movie-box .box-inner .movie-details {
      width: 100%;
      display: flex;
      text-decoration: none;
      color: #616162; }
    .movie-box .box-inner .poster {
      width: 6.250rem;
      min-height: 9.1rem;
      height: auto;
      order: 1;
      display: block; }
    .movie-box .box-inner .movie-info {
      padding: .625rem; }
      .movie-box .box-inner .movie-info .bold {
        font-weight: 600; }
      .movie-box .box-inner .movie-info .title {
        order: 2;
        width: 100%; }
      .movie-box .box-inner .movie-info .info {
        margin: .5rem 0; }

@media screen and (min-width: 48rem) {
  .movie-box {
    width: 50%;
    padding: 0 .625rem .625rem 0; }
    .movie-box:nth-child(2n+2) {
      padding: 0 0 .625rem 0; }
    .movie-box .box-inner {
      padding: .625rem;
      min-height: 10.625rem;
      cursor: pointer; }
      .movie-box .box-inner .movie-info {
        padding: 0 .625rem .625rem .625rem; } }

@media screen and (min-width: 64rem) {
  .movie-box {
    width: 33%; }
    .movie-box:nth-child(2n+2) {
      padding: 0 .625rem .625rem 0; }
    .movie-box:nth-child(3n+3) {
      padding: 0 0 .625rem 0; } }

@media screen and (min-width: 80rem) {
  .movie-box {
    width: 25%; }
    .movie-box:nth-child(2n+2) {
      padding: 0 .625rem .625rem 0; }
    .movie-box:nth-child(3n+3) {
      padding: 0 .625rem .625rem 0; }
    .movie-box:nth-child(4n+4) {
      padding: 0 0 .625rem 0; } }

.button-container {
  display: flex;
  float: right; }
  .button-container .button {
    background-color: #01d277;
    color: #fff;
    padding: .35rem .48rem;
    margin-left: 1rem;
    cursor: pointer; }

.wrapper {
  padding: 1rem;
  margin-bottom: 2rem; }
  .wrapper .top {
    display: flex;
    width: 100%;
    justify-content: space-between; }

.movie-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  padding: 1rem 0; }

.details-container {
  padding: .625rem;
  width: 100%;
  position: relative; }
  .details-container .score {
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 1rem;
    right: .625rem;
    border-radius: 50%;
    font-size: .625rem;
    width: 2.68rem;
    height: 2.68rem; }
    .details-container .score.good {
      background-color: #0c0; }
    .details-container .score.bad {
      background-color: #c00; }
    .details-container .score.ok {
      background-color: #ffa500; }
    .details-container .score span {
      font-size: 1rem; }
  .details-container h3 {
    font-size: 1.6rem;
    padding-right: 2.65rem; }
  .details-container h4 {
    font-size: 1.2rem;
    min-height: 1.2rem;
    margin: .625rem 0;
    padding-right: 2.65rem; }
  .details-container .poster {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .details-container .poster .movie-still {
      width: 100%; }
  .details-container .description {
    line-height: 1.4rem;
    margin: .625rem 0; }

@media screen and (min-width: 64rem) {
  .details-container .poster {
    flex-direction: row; }
    .details-container .poster .movie-still {
      width: 100%;
      max-width: 31.25rem; }
    .details-container .poster .description {
      margin: 0 0 .625rem .625rem; } }
