.button-container {
    display: flex;
    float: right;
    
    .button {
        background-color: $button;
        color: $white;
        padding: .35rem .48rem;
        margin-left: 1rem;
        cursor: pointer;
    }
}