.header {
    background-color: $black;
    padding: .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        border: none;

        .logo {
            display: block;
        }
    }

    .back {
        color: $white;
    }

    .search {
        display: flex;

        .title {
            -webkit-appearance: none;
            height: 1.68rem;
            border: none;
            width: 12rem;
            border-radius: .1rem;
            font-size: 1.2rem;
            padding-left: .625rem;
        }

        .submit {
            -webkit-appearance: none;
            width: 1.68rem;
            height: 1.68rem;
            border-radius: .1rem;
            margin-left: 1rem;
            background-image: url('../images/search.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-color: $white;
        }
    }
}

@media screen and (min-width: $tablet-landscape) {

    .submit {
        cursor: pointer;
    }
}