.movie-box {
    width: 100%;
    padding: 0 0 .625rem 0;
    
    .box-inner {
        width: 100%;
        background-color: $box;
        box-shadow: -.125rem .125rem .125rem $shadow;

        .movie-details {
            width: 100%;
            display: flex;
            text-decoration: none;
            color: $grey;
        }
    
        .poster {
            width: 6.250rem;
            min-height: 9.1rem;
            height: auto;
            order: 1;
            display: block;
        }

        .movie-info {
            padding: .625rem;

            .bold {
                font-weight: 600;    
            }
        
            .title {
                order: 2;
                width: 100%;  
            }

            .info {
                margin: .5rem 0;
            }
        }
    }
}

@media screen and (min-width: $tablet-portrait) {

    .movie-box { 
        width: 50%;
        padding: 0 .625rem .625rem 0 ;

        &:nth-child(2n+2) {
            padding: 0 0 .625rem 0;
        }

        .box-inner { 
            padding: .625rem;
            min-height: 10.625rem;
            cursor: pointer;

            .movie-info {
                padding: 0 .625rem .625rem .625rem;
            }
        }
    }
}

@media screen and (min-width: $tablet-landscape) {
    
    .movie-box { 
        width: 33%;

        &:nth-child(2n+2) {
            padding: 0 .625rem .625rem 0;
        }

        &:nth-child(3n+3) {
            padding: 0 0 .625rem 0;
        }
    }
}

@media screen and (min-width: $laptop) {
       
    .movie-box{ 
        width: 25%;

        &:nth-child(2n+2) {
            padding: 0 .625rem .625rem 0;
        }

        &:nth-child(3n+3) {
            padding: 0 .625rem .625rem 0;
        }

        &:nth-child(4n+4) {
            padding: 0 0 .625rem 0;
        }
    }
}


